*{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("vibrant2.gif");
    color: whitesmoke;
}
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
h4{
    font-size: 27px;
    text-align: center;
}
#items{
    border: 5px double rgb(31, 169, 31);
    background-image: none;
    background-color: rgb(97, 22, 10);
    padding: 10px;
    width: 43%;
    display: grid;
    grid-template-columns: repeat(3,200px);
    gap: 10px;
}
#items button{
    background-image: none;
    background-color: rgb(36, 37, 37);
    border-radius: 3px;
    border-style: none;
}
#items button input{
    width: 20%;
    padding: 5px;
    background-image: none;
    background-color: rgb(36, 37, 37);
}
.payment{
    padding-right: 70px;
    border-style: none;
    box-shadow: 4px 5px 2px ;
    margin: 15px;
}
.output{
    padding-right: 100px;
    border: 3px solid rgb(226, 225, 225);
    box-shadow: 5px 5px 2px rgb(226, 225, 225);
}