*{
    color: whitesmoke;
    font-size: 25px;
    font-family: charm;
}
body{
    background-image: url("tinystars.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
    font-size: 40px;
    line-height: 2px;
    font-weight: bolder;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
h4{
    padding-top: 5px;
    line-height: 2px;
    font-size: 27px;
    text-align: center;
}
#items{
    border-style: none;
    background-image: none;
    padding: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,250px);
    gap: 10px;
}
#items button{
    background-image: none;
    background-color: white;
    border-radius: 3px;
    border-style: none;
    color: black;
}
#items button:hover{
  transform: translateY(-15px);
}
#items button input{
    width: 20%;
    padding: 5px;
    background-image: none;
    background-color: white;
    color: black;
}
.stock{
  color: black;
}
.sub-class{
  border: 4px solid rgb(135, 128, 128);
  background-image: none;
  background-color: black;
  border-radius: 40px;
  padding: 20px;
  margin: 40px;
}
.payment{
    border: 2px solid rgb(226, 225, 225);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.payment button{
    color: black;
    background-color: beige;
    border-radius: 8px;
    border-style: none;
    margin: 5px;
}
.payment input{
    width: 37%;
    color: black;
}
.payment button:hover{
    color: blueviolet;
    background-color: rgb(154, 237, 237);
}
h5{
    line-height: 2px;
}
#qrCode{
    display: none;
    text-align: center;
}
.output{
  padding: 10px;
    border: 2px solid rgb(226, 225, 225);
    border-radius: 10px;
}


@media screen and ((width>200px)and (width<900px)){
    body {
      background-size: cover;
    }
    h1 {
      font-size: 25px;
      line-height: 1px;
    }
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
    #items {
      width: 50%;
      grid-template-columns: repeat(2, 140px);
      gap: 5px;
    }
    #items button {
      width: 100%;
      padding: 8px;
    }
    #items button input {
      width: 45%;
    }
    .payment {
      width: auto; 
      margin: 10px;
    }
    .payment input {
      width: 50%; 
    }
    .payment button {
      margin: 3px;
    }
    #qrCode {
      display: none; 
      margin: 4px;
    }
    .output {
      padding:10px;
      margin: 10px;
    }
    h4 {
      font-size: 15px;
    }
    h5 {
      font-size: 15px;
    }
  }