*{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.coin{
    border: 3px dotted cornflowerblue;
    padding: 15px;
    margin: 20px;
    box-sizing: content-box;
}